body {
  margin: 0;
}
#first {
  width: 1000px;
  height: 40px;
  background: #5c0080;
  margin: auto;
  color: white;
}
#first #left {
  width: 970px;
  height: 40px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#first #right {
  width: 30px;
  height: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#second {
  width: 1000px;
  height: 30px;
  margin: auto;
}
#second #left {
  float: left;
  height: 30px;
  display: flex;
  align-items: center;
}
#second #left #left_in {
  width: 180px;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#second #right {
  height: 30px;
  float: right;
  font-size: 12px;
  display: flex;
  align-items: center;
}

#third {
  width: 1000px;
  height: 60px;
  margin: auto;
  text-align: center;
}
#fourth {
  width: 1000px;
  height: 60px;
  margin: auto;
}
#fourth ul {
  padding-left: 0px;
}
#fourth ul li {
  float: left;
  list-style-type: none;
  width: 140px;
  height: 60px;
}
#fourth ul li:last-child {
  width: 20px;
}
#fourth ul li:first-child {
  width: 180px;
}
#fourth ul li:nth-child(6) {
  width: 235px;
}
#fourth ul li #search {
  width: 210px;
  height: 26px;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background: #eeeeee;
}
#fourth ul li #search input {
  border: none;
  background: #eeeeee;
}
#fifth {
  width: 100%;
  /* height: 352px; */
  background: pink;
  margin: auto;
}
#sixth {
  width: 1000px;
  height: 400px;
  background: green;
  margin: auto;
}

.panel {
  width: 220px;
  margin: auto;
}
