* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  width: 100%;
  overflow: hidden;
  height: 70px;
  background: #344955;
  color: white;
  transition: 0.3s;
}

.header a {
  color: white;
  size: 40px;
  margin: 15px;
  float: left;
  text-decoration: none;
  transition: 0.3s;
  line-height: 30px;
  vertical-align: middle;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* -------------dev option---------------- */
  background: cyan;
}

.flex_out_box1 {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* -------------dev option---------------- */
  background: yellow;
}

.flex_box {
  flex: 50%;
  padding: 5px;
  max-width: 450px;
  min-width: 380px;
  box-sizing: border-box;
  /* -------------dev option---------------- */
  background: cyan;
  border: 1px solid red;
}

.bar {
  width: 150%;
  height: 10px;
  /* -------------dev option---------------- */
  background: violet;
}

input {
  padding: 7px;
  height: auto;
  margin: auto;
  font-size: medium;
  width: 90%;
  box-shadow: 0 0 3px #00000070;
  transition: 0.5s;
  border: 2px solid gray;
}

input[type="submit"],
input[type="button"] {
  width: max-content;
  height: 100%;
  border: 2px solid gray;
  border-radius: 12px;
  transition: 0.35s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  border: 2px solid yellow;
  background: black;
  color: yellow;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="num"]:focus {
  border: 2px solid red;
  box-shadow: gold 5px;
}

.select_num {
  padding: 8px;
  height: auto;
  margin: 3px;
  font-size: medium;
  width: 70px;
  box-shadow: 0 0 3px #00000070;
  transition: 0.5s;
  border: 2px solid gray;
}

.head_label {
  width: 250px;
  height: 60px;
  text-align: center;
  font-weight: 500;
  margin: auto;
  line-height: 60px;
  vertical-align: middle;
  /* -------------dev option---------------- */
  color: purple;
  background: black;
}

.label {
  width: 150px;
  height: 40px;
  top: 50%;
  margin-left: 15px;
  font-size: large;
  transition: 0.3s;
  font-weight: 500;
  line-height: 40px;
  vertical-align: middle;
  /* -------------dev option---------------- */
  color: purple;
  background: black;
}
/* .flex_box input[type="num"] {
  width: 4em;
  width: 25%;
} */

.text_center {
  text-align: center;
  padding: 0px;
  /* -------------dev option---------------- */
  background: green;
  border: 1px solid red;
}

.text_left {
  text-align: left;
  padding: 0px;
  /* -------------dev option---------------- */
  background: green;
  border: 1px solid red;
}

.text_right {
  text-align: right;
  padding: 0px;
  /* -------------dev option---------------- */
  background: green;
  border: 1px solid red;
}
