body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(19, 28, 75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
}

form {
  padding-top: 10vh;
}

/*  상단바 고정 */
.nav {
  height: 10vh;
  background: olive;
  position: fixed;
  width: 100%;
}

.nav-link {
  display: flex;
  list-style: none;
  width: 70%;
  height: 100%;
  align-items: center;
  margin-left: auto;
  justify-content: space-around;
}

.nav-link li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
}

p {
  color: yellow;
  padding-left: 10px;
  padding-bottom: 20px;
}

/*       */
